.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: var(--accent-primary);
    color: var(--bg-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--accent-primary);
}

.back-to-top svg {
    font-size: 1.5rem;
}

.back-to-top:hover {
    box-shadow: 0 0 20px var(--accent-glow);
}